{% extends "base.html" %}

{% block content %}
    <div class="container">
        {% if user.is_authenticated %}
            <div style="max-width: 90.5rem;" class="row">
                <div class="col-lg-12">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Date</th>
                                <th>Country</th>
                                <th>Src IP</th>
                                <th>Dst Port</th>
                                <th>Protocol</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for at in attacks %}
                            <tr>
                                <td>{{ forloop.counter0|add:attacks.start_index }}</td>
                                <td>{{ at.timestamp }}</td>
                                <td>Country is NA</td>
                                <td>{{ at.source_ip }}</td>
                                <td>{{ at.destination_port }}</td>
                                <td>{{ at.protocol }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="pagination">
                <span class="step-links">
                    {% if attacks.has_previous %}
                        <a href="?page={{ attacks.previous_page_number }}">Prev</a>
                    {% endif %}

                    <span class="current">
                        Page {{ attacks.number }} of {{ attacks.paginator.num_pages }}
                    </span>

                    {% if attacks.has_next %}
                        <a href="?page={{ attacks.next_page_number }}">Next</a>
                    {% endif %}
                </span>
            </div>
        {% else %}
            <h1>Please login and come back!</h1>

        {% endif %}
    </div>
{% endblock content %}
